:root {
    --primary: #832339;
    --secondary: #998454;
    --complementary: #757575;
    --primary_alpha: #832339ce;
    --secondary_alpha: #998454ce;
    --complementary_alpha: #757575ce;
    --page-background: #A7B8BD;
    --warning: #ffee00;
    --white: #F5F5F5;
    --black: #121212;
    --ok: #4CAF50;
    --pending: #FFCA28;
    --failed: #F44336;
    --small: .8rem;
    --regular: 1.6rem;
    --medium: 3.2rem;
    --large: 6.4rem;
    --xlarge: 12.0rem;

    --status-atendido: #1b5e20;

    --status-pendiente: #455a64;

    --status-por-vencer: #e65100;

    --status-vencido: #b71c1c;

    --status-en-proceso: #0d47a1;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" !important;
}

.dis-none {
    display: none!important;
}

body {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 10% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--page-background);
    height: 100dvh;
}

nav {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--primary);
    color: var(--white);
}

nav > h1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 0 0 ;
}

.navigation-links > li {
    border-radius: 0 10px 10px 0;
    padding: 10px 5px;
    cursor: pointer;
}

.navigation-links > li.selected {
    background-color: var(--secondary);
}


.controls-panel {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--complementary);
    color: var(--white);
}

.information-panel {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}

.page-indexes {
    list-style: none;
    display: flex;
    gap: 2px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
}

.page-indexes > li {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.page-indexes > li:hover {
    transform: scale(1.01);
    background-color: var(--primary);
    color: var(--white);
}

.results-container {
    overflow-y: scroll;
    max-height: 80dvh;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-set {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.all-button {
    height: 65px;
    aspect-ratio: 1 /1;
    font-size: 30px;
}

#oficio_search, #emitido_search, #user_search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#oficio_search > button, #emitido_search > button, #user_search > button {
    grid-area: 3 / 2 / 4 / 3
}

.border-round-top {
    border-radius: 15px 15px 0 0;
}

.border-round {
    border-radius: 15px;
}

.result-top {
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    font-size: large;
}

.result-top p {
    cursor: pointer;
}

.result-top p > span {
    margin-left: 5px;
}

.result-body {
    border: 1px solid var(--primary);
    border-top: none;
    border-radius: 0 0 15px 15px;

    display: flex;
    flex-wrap: wrap;
}

.result-body .links {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.result-body .links > a {
    text-decoration: none;
    color: var(--primary);
    transition: all 0.1s ease-in-out;
    font-size: 32px;
    cursor: pointer;
}

.result-body .links > a:hover {
    color: var(--complementary);
    transform: scale(1.01);
}

.result-data {
    flex: 1;
    padding: 10px;
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
}

.result-data > label {
    display: flex;
    flex-direction: column;
}

.result-data.oficio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.result-data.emitted {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.result-data.users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.result-data.users > div > b {
    width: 100%;
}

.result-data.users > div > label {
    width: 25%;
}

.result-data.users label:nth-child(1)  { grid-area: 1 / 1 / 2 / 2; }
.result-data.users label:nth-child(2)  { grid-area: 1 / 2 / 2 / 3; }
.result-data.users label:nth-child(3)  { grid-area: 1 / 3 / 2 / 4; }
.result-data.users label:nth-child(4)  { grid-area: 1 / 4 / 2 / 5; }
.result-data.users > div {
    grid-area: 2 / 1 / 3 / 5;

    display: flex;
    flex-wrap: wrap;
}
.result-data.users button {
    grid-area: 3 / 1 / 4 / 5;
    margin: 10px auto;
}

.result-data.emitted label:nth-child(3) { grid-area: 1 / 1 / 2 / 2; }
.result-data.emitted label:nth-child(4) { grid-area: 1 / 2 / 2 / 3; }
.result-data.emitted label:nth-child(5) { grid-area: 1 / 3 / 2 / 4; }
.result-data.emitted label:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
.result-data.emitted label:nth-child(6) { grid-area: 2 / 2 / 3 / 3; }
.result-data.emitted label:nth-child(1) { grid-area: 3 / 1 / 4 / 2; }
.result-data.emitted button {
    grid-area: 4 / 2 / 5 / 3;
    margin: 10px auto;
}

.result-data.oficio label:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.result-data.oficio label:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
.result-data.oficio label:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
.result-data.oficio label:nth-child(4) { grid-area: 3 / 1 / 4 / 2; }
.result-data.oficio label:nth-child(5) { grid-area: 3 / 2 / 4 / 3; }
.result-data.oficio label:nth-child(6) { grid-area: 4 / 1 / 5 / 2; }
.result-data.oficio button {
    grid-area: 5 / 1 / 6 / 3;
    margin: 10px auto;
}

.result-status {
    width: 15%;
    border-left: 1px solid var(--primary);
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}

.result-comments {
    width: 100%;
    border-top: 1px solid var(--primary);
    padding: 10px;
}

.result-comments div {
    display: flex;
    flex-direction: column;

    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.result-comments > form {
    width: 100%;
    display: flex;
}

.result-comments > form > textarea {
    width: 90%;
    resize: vertical;
    min-height: 46px;
    max-height: 280px;
    padding: 5px;
}

.result-comments > form > button {
    width: 10%;
    cursor: pointer;
    font-size: large;
    color: var(--white);
    background-color: var(--complementary);
    border: none;
}

.result-comments > form > button:hover {
    background-color: var(--primary);
}

.result-permissions {
    width: 100%;
    border-top: 1px solid var(--primary);
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.status {
    border-radius: 5px;
    background-color: var(--complementary);
    font-weight: bold;
    color: var(--white);
    text-align: center;
    padding: 5px 10px;
}

.status.atendido {
    background-color: var(--status-atendido);
}

.status.pendiente {
    background-color: var(--status-pendiente);
}

.status.por-vencer {
    background-color: var(--status-por-vencer);
}

.status.vencido {
    background-color: var(--status-vencido);
}

.status.en-proceso {
    background-color: var(--status-en-proceso);
}

.no-comment {
    text-align: center;
    margin: 10px;
    color: var(--complementary_alpha);
}

.comment {
    border-radius: 10px;
    border: 1px solid var(--secondary);
    margin-bottom: 10px;
}

.comment header {
    border-radius: 10px 10px 0 0;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 10px;
}

.comment header p {
    color: var(--white);
    font-size: small;
}

.comment section {
    padding: 10px;
}

.panel-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--complementary_alpha);
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-background form {
    border-radius: 15px;
    border: 1px solid var(--primary);
    background-color: var(--complementary);
    padding: 10px 20px;
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    gap: 10px;
}

.panel-background form > label {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.panel-background form > p {
    width: 100%;
    text-align: center;
    font-size: large;
}

.panel-background form > div {
    display: flex;
    flex-wrap: wrap;
}

.panel-background form > div > p {
    width: 100%;
    margin-bottom: 10px;
}

.panel-background form > div > label {
    width: 25%;
    margin-bottom: 10px;
}

.panel-background .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--primary);
    font-size: x-large;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.panel-background .close:hover {
    color: var(--primary_alpha);
    transform: scale(1.05);
}