:root {
    --primary: #832339;
    --secondary: #998454;
    --complementary: #757575;
    --primary_alpha: #832339ce;
    --secondary_alpha: #998454ce;
    --complementary_alpha: #757575ce;
    --page-background: #A7B8BD;
    --warning: #ffee00;
    --white: #F5F5F5;
    --black: #121212;
    --ok: #4CAF50;
    --pending: #FFCA28;
    --failed: #F44336;
    --small: .8rem;
    --regular: 1.6rem;
    --medium: 3.2rem;
    --large: 6.4rem;
    --xlarge: 12.0rem;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" !important;
}

.dis-none {
    display: none!important;
}

body {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 10% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--page-background);
    height: 100dvh;
}

nav {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--primary);
    color: var(--white);
}

nav > h1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 0 0 ;
}

.navigation-links > li {
    border-radius: 0 10px 10px 0;
    padding: 10px 5px;
    cursor: pointer;
}

.navigation-links > li.selected {
    background-color: var(--secondary);
}


.controls-panel {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--complementary);
    color: var(--white);
}

.information-panel {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}

.page-indexes {
    list-style: none;
    display: flex;
    gap: 2px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
}

.page-indexes > li {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.page-indexes > li:hover {
    transform: scale(1.01);
    background-color: var(--primary);
    color: var(--white);
}

.results-container {
    overflow-y: scroll;
    max-height: 80dvh;
}

.control-set {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.all-button {
    height: 65px;
    aspect-ratio: 1 /1;
    font-size: 30px;
}

#invoice_search, #emitido_search, #user_search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#invoice_search > button, #emitido_search > button, #user_search > button {
    grid-area: 3 / 2 / 4 / 3
}